![](pandas_logo.png)

# Pandas基本使用

## 介紹
專門拿來處理表格的函式庫，一生懸命只為了處理表格而生

## 用途
1. 處理各種表格(csv, excel...等等)
2. 拿來表示機器學習的資料集(每個列就是一個物品，每個行代表物品的每個特徵
3. 可以快速結合常用的繪圖函式庫，直接畫出漂亮的圖形

## 安裝方法

1. 使用PyCharm: PyCharm -> Settings -> Project -> Project Interpreter -> + -> (搜索)pandas -> Install Packages
2. 使用命令列: cd到你安裝Python的資料夾 -> 輸入 python -m pip install pandas

## 官方文件
http://pandas.pydata.org/pandas-docs/stable/

## 可以處理的表格形式
http://pandas.pydata.org/pandas-docs/stable/io.html

## 目標
我們使用Kaggle的TED資料集來教你Pandas的基本操作

## 資料集位置
<img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Kaggle_logo.png" width="100" style="margin-left:0px;margin-top:15px;margin-bottom:15px;">

https://www.kaggle.com/rounakbanik/ted-talks

1. 需要登入才能下載
2. 只取裡面的ted_main.csv來做分析

## ✔ Pandas基本資料

1. 多個行 * 多個列 -> DataFrame
2. 一個行 * 多個列 或者 一個列 * 多個行 -> Series

In [1]:
import pandas as pd
# 為了顯示的漂亮, 我刻意的把印出來的row和column只顯示六個, 大家練習的時候可以去掉下面兩行
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', 6)

## ✔ 讀取表格操作

使用read_表格形式來讀取， 記得最好明確表示用utf-8來讀取網站檔案(網路上的檔案通常使用utf-8來儲存)

**注意:** 如果是windows的一些檔案，內建的儲存編碼是ANSI，用utf-8會失效，我們留待編碼篇好好說

### read_csv重要參數: 
1. 必要參數: 檔案位置
2. 選用參數(有預設值): 讀取使用編碼

### read_csv回傳值:
DataFrame

In [2]:
df = pd.read_csv("ted_main.csv", encoding = "utf-8")
df

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,...,Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,...,Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
...,...,...,...,...,...,...,...
2547,10,Science fiction visions of the future show us ...,651,...,What intelligent machines can learn from a sch...,https://www.ted.com/talks/radhika_nagpal_what_...,375647
2548,32,In an unmissable talk about race and politics ...,1100,...,A black man goes undercover in the alt-right,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309
2549,8,With more than half of the world population li...,519,...,How a video game might help us build better ci...,https://www.ted.com/talks/karoliina_korppoo_ho...,391721

## ✔ DataFrame大小
1. 由於我們有兩個維度，所以以前習慣的len不能使用了，我們要使用.shape來取得兩個維度
2. .shape是一個tuple，所以第一個元素[0]就是你的列數，第二個元素[1]就是你的行數

In [3]:
df.shape

(2550, 17)

## ✔ 表格行篩選
篩選行的時候，我們就像在操作字典一樣，對你的DataFrame加上 [ ]

### 單行操作
直接在 [ ] 加上你想要的標籤名字，由於一個維度變成1，所以你會發現從DataFrame變成Series了(印出來是不一樣的)

In [4]:
df["comments"]

0       4553
1        265
2        124
        ...
2547      10
2548      32
2549       8
Name: comments, dtype: int64

### 多行操作
你必須把想要的標籤集合成一個list傳入行操作的[ ]，所以這裡兩個[ ]代表截然不同的意思
1. 外面的[ ]: DataFrame的行操作
2. 裡面的[ ]: 把標籤集合起來的list

In [5]:
df[ ["comments", "description", "url"] ]

,comments,description,url
0,4553,Sir Ken Robinson makes an entertaining and pro...,https://www.ted.com/talks/ken_robinson_says_sc...
1,265,With the same humor and humanity he exuded in ...,https://www.ted.com/talks/al_gore_on_averting_...
2,124,New York Times columnist David Pogue takes aim...,https://www.ted.com/talks/david_pogue_says_sim...
...,...,...,...
2547,10,Science fiction visions of the future show us ...,https://www.ted.com/talks/radhika_nagpal_what_...
2548,32,In an unmissable talk about race and politics ...,https://www.ted.com/talks/theo_e_j_wilson_a_bl...
2549,8,With more than half of the world population li...,https://www.ted.com/talks/karoliina_korppoo_ho...

## ✔ 表格列篩選
1. 篩選列的時候，我們使用的是.loc(少用, 如果有自己創造列標籤才用得上)，iloc(常用, 使用pandas幫你創的0開始的列標籤)
2. 使用iloc的時候會得到一個像是list的資料，接著就可以使用類似list的操作來操作
3. .iloc -> ["第一筆資料", "第二筆資料", "第三筆資料", ..., "最後一筆資料"]

### 單列篩選
在.iloc這個列表加上[ *座號* ]

In [6]:
df.iloc[0]

comments                                                    4553
description    Sir Ken Robinson makes an entertaining and pro...
duration                                                    1164
                                     ...
title                                Do schools kill creativity?
url            https://www.ted.com/talks/ken_robinson_says_sc...
views                                                   47227110
Name: 0, dtype: object

### 多列篩選
.iloc後使用[*頭部座號(包括)*:*尾部座號(不包括)*]

In [7]:
# 取10, 11, 12, 13, 14共五筆資料
df.iloc[10:15]

,comments,description,duration,...,title,url,views
10,79,"Accepting his 2006 TED Prize, Cameron Sinclair...",1414,...,My wish: A call for open-source architecture,https://www.ted.com/talks/cameron_sinclair_on_...,1211416
11,55,Jehane Noujaim unveils her 2006 TED Prize wish...,1538,...,My wish: A global day of film,https://www.ted.com/talks/jehane_noujaim_inspi...,387877
12,71,"Accepting the 2006 TED Prize, Dr. Larry Brilli...",1550,...,My wish: Help me stop pandemics,https://www.ted.com/talks/larry_brilliant_want...,693341
13,242,"Jeff Han shows off a cheap, scalable multi-tou...",527,...,The radical promise of the multi-touch interface,https://www.ted.com/talks/jeff_han_demos_his_b...,4531020
14,99,"Nicholas Negroponte, founder of the MIT Media ...",1057,...,One Laptop per Child,https://www.ted.com/talks/nicholas_negroponte_...,358304

### 頭幾列篩選
Pandas也提供一些讓你偷懶的函式，如果是要篩選頭幾列的話用head函式來篩選

In [8]:
# 頭五列
df.head(5)

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,...,Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,...,Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,...,Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,...,The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869

### 尾幾列篩選
使用tail函式來做尾部的篩選

In [9]:
# 尾五列
df.tail(5)

,comments,description,duration,...,title,url,views
2545,17,"Between 2008 and 2016, the United States depor...",476,...,What we're missing in the debate about immigra...,https://www.ted.com/talks/duarte_geraldino_wha...,450430
2546,6,How can you study Mars without a spaceship? He...,290,...,The most Martian place on Earth,https://www.ted.com/talks/armando_azua_bustos_...,417470
2547,10,Science fiction visions of the future show us ...,651,...,What intelligent machines can learn from a sch...,https://www.ted.com/talks/radhika_nagpal_what_...,375647
2548,32,In an unmissable talk about race and politics ...,1100,...,A black man goes undercover in the alt-right,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309
2549,8,With more than half of the world population li...,519,...,How a video game might help us build better ci...,https://www.ted.com/talks/karoliina_korppoo_ho...,391721

## ✔ 表格行＋列篩選
1. 只要是DataFrame就可以使用上面的行或者列篩選
2. 所以你可以任意組合行列篩選，先[]再.iloc[]，或者先.iloc[]再[]

In [10]:
# 如果:後面不寫就是到最底, :前面不寫就是從最頭開始
df[ ["comments", "description", "duration"] ].iloc[ :5 ]

   comments                                        description  duration
0      4553  Sir Ken Robinson makes an entertaining and pro...      1164
1       265  With the same humor and humanity he exuded in ...       977
2       124  New York Times columnist David Pogue takes aim...      1286
3       200  In an emotionally charged talk, MacArthur-winn...      1116
4       593  You've never seen data presented like this. Wi...      1190

## ✔ 列過濾
1. 過濾操作是把符合我們期待的列留下來，不符合期待的列丟掉的一個操作
2. 核心概念是做一個跟我們的資料筆數一樣大的布林list，對到True的資料留下，對到False的資料丟掉
3. (特別) 這時候一樣是對你的DataFrame加上 [ ] , 把布林list丟進你的 [ ] 裡

In [11]:
# 先做個實驗給你看, 只取三列資料
test = df.iloc[:3]
test

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,...,Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,...,Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292

In [12]:
# 過濾, 創一個三個大小的True, False list
# 對到True(第一三筆)留下, 對到False(第二筆)丟掉
test[ [True, False, True] ]

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
2,124,New York Times columnist David Pogue takes aim...,1286,...,Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292

In [13]:
# 但我們不可能自己用手創一個2000多個元素的布林list
# 所以我們藉由pandas的函式幫我們
# 先取出一個Series取str屬性得到字串list, 藉由pandas定義的contains對裡面每個元素做出布林判斷
bool_filter = df["description"].str.contains("Sir")
bool_filter

0        True
1       False
2       False
        ...
2547    False
2548    False
2549    False
Name: description, dtype: bool

In [14]:
# 帶入DataFrame
df[bool_filter]

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
15,325,Violinist Sirena Huang gives a technically bri...,1481,...,An 11-year-old's magical violin,https://www.ted.com/talks/sirena_huang_dazzles...,2702470
54,203,"Speaking as both an astronomer and ""a concerne...",1046,...,Is this our final century?,https://www.ted.com/talks/martin_rees_asks_is_...,2121177
...,...,...,...,...,...,...,...
1978,64,"The founder of Sirius XM satellite radio, Mart...",1264,...,"My daughter, my wife, our robot, and the quest...",https://www.ted.com/talks/martine_rothblatt_my...,1304737
2192,61,Trust: How do you earn it? Banks use credit sc...,491,...,A smart loan for people with no credit history...,https://www.ted.com/talks/shivani_siroya_a_sma...,1437353
2503,20,How smart can our machines make us? Tom Gruber...,586,...,"How AI can enhance our memory, work and social...",https://www.ted.com/talks/tom_gruber_how_ai_ca...,1139827

In [15]:
# 你仔細對照, 你會發現contains是只要有contains那個字串就可以, 並不一定是完整的一個字(Sirena也算有contains Sir)
# 但我們可以使用格式(正規表示式)來結合contains
# 記得在你格式字串前加上r(不轉換任何東西, 原始字串), 不然\b會被當成backspace, 而不是兩個字
df[ df["description"].str.contains(r"\bSir\b") ]

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
54,203,"Speaking as both an astronomer and ""a concerne...",1046,...,Is this our final century?,https://www.ted.com/talks/martin_rees_asks_is_...,2121177
692,1234,"In this poignant, funny follow-up to his fable...",1008,...,Bring on the learning revolution!,https://www.ted.com/talks/sir_ken_robinson_bri...,7266316
833,473,"In this talk from RSA Animate, Sir Ken Robinso...",700,...,Changing education paradigms,https://www.ted.com/talks/ken_robinson_changin...,1854997
1502,634,Sir Ken Robinson outlines 3 principles crucial...,1151,...,How to escape education's death valley,https://www.ted.com/talks/ken_robinson_how_to_...,6657858
1802,59,Sir Tim Berners-Lee invented the World Wide We...,403,...,A Magna Carta for the web,https://www.ted.com/talks/tim_berners_lee_a_ma...,1054600

## ✔ 儲存表格
1. 非常簡單！！！就跟read一樣，你想儲存什麼就讓你的DataFrame使用to_儲存格式
2. 一樣建議指定使用utf-8做儲存

### to_csv重要參數
1. 必要參數: 檔案位置
2. 選用參數encoding(有預設值): 讀取使用編碼
3. 選用參數index(有預設值True): 要不要把pandas幫你產生的列編號寫進檔案, True: 寫, False: 不寫, 通常我會選False

In [16]:
# 用剛剛的filter過後的東西做個例子
filter_df = df[ df["description"].str.contains(r"\bSir\b") ]
# 儲存成csv
filter_df.to_csv("filter.csv", encoding = "utf-8", index = False)

In [17]:
# 把剛剛儲存的東西讀出來給你看看
pd.read_csv("filter.csv", encoding = "utf-8")

,comments,description,duration,...,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,203,"Speaking as both an astronomer and ""a concerne...",1046,...,Is this our final century?,https://www.ted.com/talks/martin_rees_asks_is_...,2121177
2,1234,"In this poignant, funny follow-up to his fable...",1008,...,Bring on the learning revolution!,https://www.ted.com/talks/sir_ken_robinson_bri...,7266316
3,473,"In this talk from RSA Animate, Sir Ken Robinso...",700,...,Changing education paradigms,https://www.ted.com/talks/ken_robinson_changin...,1854997
4,634,Sir Ken Robinson outlines 3 principles crucial...,1151,...,How to escape education's death valley,https://www.ted.com/talks/ken_robinson_how_to_...,6657858
5,59,Sir Tim Berners-Lee invented the World Wide We...,403,...,A Magna Carta for the web,https://www.ted.com/talks/tim_berners_lee_a_ma...,1054600

## ✔ 刪除行
1. 你可以使用類似字典的刪除方式，用del來直接刪除一行
2. 你可以使用drop來刪除多行，不過記得如果你想要讓df變成刪除過後的樣子要記得設定回去

In [18]:
# 刪除單行, 直接就修改了df
del df['title']
df

,comments,description,duration,...,tags,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,"['children', 'creativity', 'culture', 'dance',...",https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,...,"['alternative energy', 'cars', 'climate change...",https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,...,"['computers', 'entertainment', 'interface desi...",https://www.ted.com/talks/david_pogue_says_sim...,1636292
...,...,...,...,...,...,...,...
2547,10,Science fiction visions of the future show us ...,651,...,"['AI', 'ants', 'fish', 'future', 'innovation',...",https://www.ted.com/talks/radhika_nagpal_what_...,375647
2548,32,In an unmissable talk about race and politics ...,1100,...,"['Internet', 'TEDx', 'United States', 'communi...",https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309
2549,8,With more than half of the world population li...,519,...,"['cities', 'design', 'future', 'infrastructure...",https://www.ted.com/talks/karoliina_korppoo_ho...,391721

In [23]:
# 刪除多行, axis = 1指的是刪除行的意思, axis = 0是刪除列的意思
df.drop(["url", "views"], axis = 1)

,comments,description,duration,...,related_talks,speaker_occupation,tags
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,...,"[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',..."
1,265,With the same humor and humanity he exuded in ...,977,...,"[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change..."
2,124,New York Times columnist David Pogue takes aim...,1286,...,"[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi..."
...,...,...,...,...,...,...,...
2547,10,Science fiction visions of the future show us ...,651,...,"[{'id': 2346, 'hero': 'https://pe.tedcdn.com/i...",Robotics engineer,"['AI', 'ants', 'fish', 'future', 'innovation',..."
2548,32,In an unmissable talk about race and politics ...,1100,...,"[{'id': 2512, 'hero': 'https://pe.tedcdn.com/i...",Public intellectual,"['Internet', 'TEDx', 'United States', 'communi..."
2549,8,With more than half of the world population li...,519,...,"[{'id': 2682, 'hero': 'https://pe.tedcdn.com/i...",Game designer,"['cities', 'design', 'future', 'infrastructure..."

## ✔ (高階技巧) 列過濾
1. 有時候利用pandas有的函式難以完成我想要的過濾, 這時候我可以自定義我的過濾流程
2. 對你的Series使用apply來過濾
3. (重要) 你的過濾流程最後一定要回傳True or False

In [19]:
# 我想把tag欄位裡的字串拿出來並且轉換成一個list
# 再檢查某個字串也沒有在list裡
# 你的過濾流程的第一個參數, pandas會幫你傳入, 就是你每一格的資料, 也就是 element = 每一格的資料
def tag_filter(element):
    # 利用eval把字串當成python程式執行, 變成一個list
    tag_list = eval(element)
    if 'children' in tag_list:
        return True
    else:
        return False
# 讓你看看做出來的bool list
bool_filter = df["tags"].apply(tag_filter)
bool_filter

0        True
1       False
2       False
        ...
2547    False
2548    False
2549    False
Name: tags, dtype: bool

In [20]:
# 來過濾你的DataFrame, 並且我們只看tags, description兩列
df[bool_filter][ ['description', 'tags'] ]

,description,tags
0,Sir Ken Robinson makes an entertaining and pro...,"['children', 'creativity', 'culture', 'dance',..."
14,"Nicholas Negroponte, founder of the MIT Media ...","['children', 'design', 'education', 'entrepren..."
152,Author and illustrator Maira Kalman talks abou...,"['art', 'children', 'culture', 'design', 'ente..."
...,...,...
2479,Sixty-five million people were displaced from ...,"['TED Books', 'activism', 'big problems', 'chi..."
2482,"""We have seen advances in every aspect of our ...","['children', 'global issues', 'humanity', 'ide..."
2525,Could it be wrong to help children in need by ...,"['TEDx', 'activism', 'children', 'family', 'po..."

In [21]:
# 更進階定義, 讓你在使用的時候可以再多帶入參數
def tag_filter(element, filter_tag):
    tag_list = eval(element)
    if filter_tag in tag_list:
        return True
    else:
        return False
# 你放在apply後面的參數, pandas會幫你丟進你的過濾過程, 但是參數名字就要對到過濾流程的參數
bool_filter = df["tags"].apply(tag_filter, filter_tag = 'Asia')
bool_filter

0       False
1       False
2       False
        ...
2547    False
2548    False
2549    False
Name: tags, dtype: bool

In [22]:
df[bool_filter][ ["description", "tags"] ]

,description,tags
4,You've never seen data presented like this. Wi...,"['Africa', 'Asia', 'Google', 'demo', 'economic..."
117,Researcher Hans Rosling uses his cool data too...,"['Africa', 'Asia', 'Google', 'economics', 'glo..."
359,Reporter Jennifer 8. Lee talks about her hunt ...,"['Asia', 'business', 'culture', 'exploration',..."
...,...,...
1621,The developed world holds up the ideals of cap...,"['Africa', 'Asia', 'china', 'democracy', 'econ..."
1948,"The former prime minister of Australia, Kevin ...","['Asia', 'United States', 'china', 'politics']"
2310,Americanization and globalization have basical...,"['Africa', 'Asia', 'Europe', 'Foreign Policy',..."